
  
  /*  */
  
  .text-color{
    color: #A32C2D;

  }
  .border-0{
    border: 0; 
  }
  .border-1{
    border: 2px #A32C2D solid;
    font-weight: bold;
  }
  .border-1-grey{
    border-top: 1px #5d5d5d solid;
    border-left: 1px #5d5d5d solid;
    border-right: 1px #5d5d5d solid; 
    font-weight: bold;
  }
  .rd-2{
    border-radius: 10px;
  }
  .rd-30{
    border-radius: 30px;
  }
  .flexBetween{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  .text-parmary,.text-parmary-nav{
    font-weight: bold;
    color: #A32C2D;
    background-color: white;
  }
  .text-parmary.active ,.text-parmary:hover{
    font-weight: bold;
    color: #ff0004;
    background-color: white;
  }  
  .text-parmary-nav.active ,.text-parmary.active:hover{
    font-weight: bold !important;
    color: #ff0004 !important; 
  }
  /* 錯誤 */
  .inputErr{ 
    border: 1px solid red;
  }
  /* nputErr */
  /* 內容外框 */
  .main-O-baground{
    padding: 3em;
    background-color: rgba(255, 187, 92, 0.5);
  }

  .main-O-baground-border50{
    padding: 40px;
    border: 2px #A32C2D solid; 
    border-radius: 30px;
  }

  /* ImageIcon */

  .ImageIcon{
    border: 4px solid #A32C2D;
  }
 
  /* 自訂一寬度 */

  .iconWidth{
    width: 50px;
    height: 50px; 
    flex-grow: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* position: relative;
    left: 20px; */
    
  }
  .iconGrow{
    flex-grow: 1;
    /* width: 100%; */
    height: 10px;
    margin: auto;
    border-radius: 30px;
  }

  /* 自訂義進度 */
  .progressParmary{
    font-weight: bold;
  background-color: rgb(173, 173, 173);

    color: #A32C2D;
  }
 
.progressParmary.active{
  font-weight: bold;
  background-color: #A32C2D;
  color: rgb(255, 255, 255);


}
  /*  */
  .imgIcon{
    width: 125px;
    height: 125px; 
  }

 

  input.imgIcon{
    width: 125px;
    height: 125px;
    border-radius: 50%;
  }
  .image-upload > input
  {
      display: none;
  }
   /* 自訂一背景 */

   .opacipty1{
    opacity: 0.5;
   }
   /*  */
.overflow1{
overflow: hidden;
}
.scroll{
    max-height: 250px; 
    overflow-y: scroll;
}
/* btn */

.btn-parmary{
    font-weight: bold;
    background-color: #A32C2D;
    color: white;
  }
  .btn-parmary-white{
    font-weight: bold;
    background-color: white;
    color: #A32C2D;
  }
 
.btn-parmary:hover,.btn-parmary.active{
  font-weight: bold;
  background-color: white;
  color: #A32C2D;
}

.btn-parmary-white.active{
  font-weight: bold; 
  background-color: #A32C2D; 
  color: white; 
}
.btn-parmary-white:hover{
  color: red;
}
.btn-parmary-red{
  color: red;
}

.btn-parmary-transparent{
  font-weight: bold; 
  background-color: transparent; 
  color: #A32C2D; 
}
.qrcodeProduct{
  border-bottom: 1px grey;
}
 






 
.mb-0{
    margin-bottom: 0;
}
.mx-full{
    width: 100%;
}
.step{ 
  display: flex;
  cursor: pointer;
  /* background-color: transparent; */
}
.step span{
  /* position: absolute; */
}

.stepPostion >*:nth-child(1){ 
  position: relative;
  z-index: 5;

  left: 10px; 
}
.stepPostion >*:nth-child(3){ 
  position: relative;
  left: -10px;  
  z-index: 5;

}
.stepPostion >*:nth-child(4){ 
  position: relative;
  left: -20px; 

}
.stepPostion >*:nth-child(5){
  z-index: 5;
 
  position: relative;
  left: -30px;
}
 
/* 
 imgicon
*/
.imgIconContent{
  position: relative;
}


.input-group{
  position: relative;
  display: flex;
  flex-wrap: wrap;
   width: inherit; 
}

/* credit */
.creditTitle{
  font-size: 20px;
}
 .credit{
  padding: 18px;
  margin: auto;
  border: 0;
 }